.obsidian-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &[data-icon-size="xs"] svg {
    width: 12px;
    height: 12px;
  }

  &[data-icon-size="s"] svg {
    width: 16px;
    height: 16px;
  }

  &[data-icon-size="m"] svg {
    width: 18px;
    height: 18px;
  }

  &[data-icon-size="l"] svg {
    width: 24px;
    height: 24px;
  }

  &[data-icon-size="xl"] svg {
    width: 32px;
    height: 32px;
  }
}

